body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/src/img/R&M.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  color: #e0e0e0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  padding: .8em;
  /* margin-left: .5em; */
  opacity: .9;
  border-radius: 50%;
}

.searchbar {
  padding: .8em;
  /* margin-right: .5em; */
  opacity: .7;
  /* border-radius: 15%; */
}

.universe {
  text-decoration: none;
  color: #e0e0e0;
}