@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Anton&family=Cabin+Sketch:wght@700&family=Coda+Caption:wght@800&family=Fredericka+the+Great&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Reenie+Beanie&family=Sue+Ellen+Francisco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Economica:wght@400;700&family=Frijole&family=Gruppo&family=Londrina+Shadow&family=Prompt:ital,wght@0,300;1,200&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Barriecito&family=Galindo&family=Kirang+Haerang&family=Londrina+Sketch&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* background: rgb(70, 149, 165);
  background-image: linear-gradient(to top left, rgb(36, 190, 221) 20%, rgb(44, 56, 70) 100%); */
  background: #333;
  background: linear-gradient(to top right, rgb(209, 196, 82) 0%, rgba(68,195,196,1) 25%, rgb(3, 37, 70) 100%);
  background-size: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Sue Ellen Francisco', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

.logo {
  padding-bottom: 2rem;
  width: 300px;
}

.nav-container {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.nav-container a {
  color: rgb(205, 213, 75);
  font-family: 'Kirang Haerang', cursive;
  text-align: center;
  text-decoration: none;
}

.universe {
  padding-bottom: 1.3em;
  text-decoration: none;
}

.about {
  text-decoration: none;
  padding-bottom: 2em;
}

.form {
  display: flex;
  justify-content: center;
}

input {
  opacity: .7;
  display: block;
  padding: .7rem;
  font-size: 1.2rem;
  border: 0;
  border-radius: 5px;
  width: 60vw;
  margin-bottom: 3em;
  max-width: 500px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.card {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000;
  /* box-shadow: #e0e0e0 1px 1px 10px; */
}

.name-banner {
  font-family: 'Amatic SC', monospace;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0,0,0,.7);
}

.front-name {
  color: #e0e0e0;
  font-size: 1.9rem;
  text-align: center;
  margin-top: 8px;
}

.card img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 300px;
  z-index: -1;  
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.cc-front,
.cc-back {
  box-shadow: 0 3px 10px 0 rgba(32, 32, 31, .6);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cc-back {
  font-family: 'Economica', sans-serif;
  background-color: #333;
  color: #e0e0e0;
  padding: 20px;
  transform: rotateY(180deg);
  border: 1px groove rgba(173, 255, 43, .7);
}

.card li {
  letter-spacing: 1px;
  font-size: 1.6rem;
  list-style: none;
  padding-bottom: 1.6em;
}

.back-name {
  text-align: center;
  margin: 0;
}

.cb-name {
  color: rgb(23, 172, 200);
  font-size: 1.8rem;
  border-bottom: 1px solid lightsteelblue;
}

.about-page {
  width: 100vw;
  font-family: 'Economica', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #e0e0e0;
}

.about-text {
  text-align: center;
}

.about-text h1 {
  font-size: 2.5rem;
}

.about-text p {
  max-width: 500px;
  text-align: center;
  font-size: 1.7rem;
  line-height: 35px;
  margin-left: 2em;
  margin-right: 2em;
}

@media (min-width: 500px) {
  .logo {
    width: 350px;
  }
  .nav-container {
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 2.5rem;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
 
   .nav-container {
    justify-content: space-evenly;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
  }

  .card img {
    width: 100%;
    height: 300px;
  }
}

/* background: rgb(95,199,219);
background: linear-gradient(180deg, rgba(95,199,219,1) 0%, rgba(236,221,50,1) 100%);

background: rgb(95,199,219);
background: radial-gradient(circle, rgba(95,199,219,1) 0%, rgba(51,48,0,1) 100%);

background: rgb(231,217,89);
background: radial-gradient(circle, rgba(231,217,89,1) 0%, rgba(68,195,196,1) 35%, rgba(51,48,0,1) 90%);

background: rgb(231,217,89);
background: linear-gradient(25deg, rgba(231,217,89,1) 0%, rgba(68,195,196,1) 50%, rgba(51,48,0,1) 90%); */