@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Anton&family=Cabin+Sketch:wght@700&family=Coda+Caption:wght@800&family=Fredericka+the+Great&family=Syne+Mono&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: rgb(70, 149, 165);
  background-image: linear-gradient(to top right, rgb(70, 149, 165) 15%, rgb(10, 29, 51) 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Syne Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

.logo {
  width: 300px;
}

.nav-container {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav-container a {
  text-align: center;
  text-decoration: none;
}

.universe {
  padding-bottom: 2em;
  text-decoration: none;
  color: #e0e0e0;
}

.about {
  text-decoration: none;
  color: #e0e0e0;
  padding-bottom: 2em;
}

.form {
  display: flex;
  justify-content: center;
}

input {
  opacity: .7;
  display: block;
  padding: .7rem;
  font-size: 1.2rem;
  border: 0;
  border-radius: 5px;
  width: 60vw;
  margin-bottom: 2em;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.card {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000;
  /* box-shadow: #e0e0e0 1px 1px 10px; */
}

.name-banner {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(0,0,0,.7);
}

.front-name {
  color: #e0e0e0;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
}

.card img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 300px;
  z-index: -1;  
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.cc-front,
.cc-back {
  box-shadow: 0 3px 6px 1px rgba(157, 252, 4, 0.555);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cc-back {
  background-color: #333;
  color: #e0e0e0;
  padding: 20px;
  transform: rotateY(180deg);
  border: 1px groove rgba(173, 255, 43, .7);
  box-shadow: 0 3px 10px 0 rgba(173, 255, 43, .3);
}

.card li {
  list-style: none;
  padding-bottom: .8em;
}

.about-page {
  color: #e0e0e0;
}

@media (min-width: 500px) {
  .logo {
    width: 350px;
  }
  .nav-container {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 2rem;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  body {
    max-width: 1440px;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
  }
  .card img {
    width: 100%;
    height: 300px;
  }
}

background: rgb(95,199,219);
background: linear-gradient(180deg, rgba(95,199,219,1) 0%, rgba(236,221,50,1) 100%);

background: rgb(95,199,219);
background: radial-gradient(circle, rgba(95,199,219,1) 0%, rgba(51,48,0,1) 100%);

background: rgb(231,217,89);
background: radial-gradient(circle, rgba(231,217,89,1) 0%, rgba(68,195,196,1) 35%, rgba(51,48,0,1) 90%);

background: rgb(231,217,89);
background: linear-gradient(25deg, rgba(231,217,89,1) 0%, rgba(68,195,196,1) 50%, rgba(51,48,0,1) 90%);